<link href="{{- with resources.Get "fonts/source-code-pro/source-code-pro-italic-var_wght.ttf"}}{{- .RelPermalink }}{{- end }}" rel="preload" type="font/ttf" as="font" crossorigin="" />
<link href="{{- with resources.Get "fonts/source-code-pro/source-code-pro-var_wght.ttf"}}{{- .RelPermalink }}{{- end }}" rel="preload" type="font/ttf" as="font" crossorigin="" />
<link href="{{- with resources.Get "fonts/source-serif-4/source-serif-4-italic-var_opsz,wght.ttf"}}{{- .RelPermalink }}{{- end }}" rel="preload" type="font/ttf" as="font" crossorigin="" />
<link href="{{- with resources.Get "fonts/source-serif-4/source-serif-4-var_opsz,wght.ttf"}}{{- .RelPermalink }}{{- end }}" rel="preload" type="font/ttf" as="font" crossorigin="" />
