@font-face {
    font-family: 'Qanelas Soft Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Regular'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftRegular.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Regular Italic'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftRegularItalic.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Thin'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftThin.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft UltraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft UltraLight'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftUltraLight.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Thin Italic'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftThinItalic.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft UltraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft UltraLight Italic'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftUltraLightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Light';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Light'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftLight.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Light Italic'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftLightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Medium'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftMedium.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Medium Italic'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftMediumItalic.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft SemiBold'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftSemiBold.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft SemiBold Italic'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftSemiBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Bold'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftBold.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Bold Italic'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft ExtraBold'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftExtraBold.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft ExtraBold Italic'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftExtraBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Black';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Black'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftBlack.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Heavy'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftHeavy.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Black Italic'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftBlackItalic.woff') format('woff');
}


@font-face {
    font-family: 'Qanelas Soft Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Qanelas Soft Heavy Italic'), url('fonts/qanelas-soft/Radomir Tinkov  QanelasSoftHeavyItalic.woff') format('woff');
}

body,
html {
    height: 100%;
    font-size: 100%;
    background-color: #0b0d11;
    color: #c4c7c7;
    font-family: 'Qanelas Soft Bold', Helvetica, sans-serif;
    padding: 0vh 0vw;
    margin: 0vh 0vw;
    border: 0vh 0vw;
}

.spacer {
    height: 5vw;
}

#tfv4 {
    height: 30vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    margin-right: 0.25em;
}

.link_button {
    background-color: #0b0d11;
    border: 0.1px solid #44a29f;
    border-radius: 25px;
    color: #c4c7c7;
    width: fit-content;
    padding: 0.5em 1em;
    margin: 2vh 2vw;
    font-family: 'Qanelas Soft Bold', Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
    transition-duration: 0.4s;
}

.link_button:hover {
    background-color: #44a29f;
    color: #0b0d11;
}

.text_container {
    padding: 0vh 5vw;
}

h1 {
    font-family: 'Qanelas Soft ExtraBold', Helvetica, sans-serif;
    text-align: center;
    font-size: 5em;
    margin-top: 1%;
    margin-bottom: 3%;
}

p {
    text-align: center;
    font-size: 1.5em;
}

hr {
    display: none;
    margin: auto;
    width: 60vw;
    color: #c4c7c7;
    border-width: 1px;
}

@media (max-width: 800px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 4em;
        margin-top: 1vh;
        margin-bottom: 5vh;
    }
}
