:root {
    --red: #e06c75;
    --green: #98c379;
    --yellow: #e5c07b;
    --blue: #61afef;
    --magenta: #c678dd;
    --cyan: #56b6c2;
    --foreground: #dcdfe4;
    --background: #282c34;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro/SourceCodePro-Regular.ttf');
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro/SourceCodePro-Italic.ttf');
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro/SourceCodePro-Bold.ttf');
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro/SourceCodePro-BoldItalic.ttf');
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

.top-flex-div {
    font-family: 'Source Code Pro', mono;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

main {
    max-width: 750px;
    width: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--blue);
}

a {
    color: var(--cyan);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    padding: 5px;
}
