/* Background */ .bg { color:var(--foreground);background-color:var(--background); }
/* PreWrapper */ .chroma { color:var(--foreground);background-color:var(--background); }
/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color:#3d4148 }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#55595f }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#55595f }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { color:var(--magenta) }
/* KeywordConstant */ .chroma .kc { color:var(--yellow) }
/* KeywordDeclaration */ .chroma .kd { color:var(--magenta) }
/* KeywordNamespace */ .chroma .kn { color:var(--magenta) }
/* KeywordPseudo */ .chroma .kp { color:var(--magenta) }
/* KeywordReserved */ .chroma .kr { color:var(--magenta) }
/* KeywordType */ .chroma .kt { color:var(--yellow) }
/* Name */ .chroma .n { color:var(--red) }
/* NameAttribute */ .chroma .na { color:var(--red) }
/* NameClass */ .chroma .nc { color:var(--yellow) }
/* NameConstant */ .chroma .no { color:var(--red) }
/* NameDecorator */ .chroma .nd { color:var(--blue) }
/* NameEntity */ .chroma .ni { color:var(--red) }
/* NameException */ .chroma .ne { color:var(--red) }
/* NameLabel */ .chroma .nl { color:var(--red) }
/* NameNamespace */ .chroma .nn { color:var(--red) }
/* NameOther */ .chroma .nx { color:var(--red) }
/* NameProperty */ .chroma .py { color:var(--red) }
/* NameTag */ .chroma .nt { color:var(--red) }
/* NameBuiltin */ .chroma .nb { color:var(--yellow) }
/* NameBuiltinPseudo */ .chroma .bp { color:var(--yellow) }
/* NameVariable */ .chroma .nv { color:var(--red) }
/* NameVariableClass */ .chroma .vc { color:var(--red) }
/* NameVariableGlobal */ .chroma .vg { color:var(--red) }
/* NameVariableInstance */ .chroma .vi { color:var(--red) }
/* NameVariableMagic */ .chroma .vm { color:var(--red) }
/* NameFunction */ .chroma .nf { color:var(--blue);font-weight:bold }
/* NameFunctionMagic */ .chroma .fm { color:var(--cyan);font-weight:bold }
/* LiteralString */ .chroma .s { color:var(--green) }
/* LiteralStringAffix */ .chroma .sa { color:var(--green) }
/* LiteralStringBacktick */ .chroma .sb { color:var(--green) }
/* LiteralStringChar */ .chroma .sc { color:var(--green) }
/* LiteralStringDelimiter */ .chroma .dl { color:var(--green) }
/* LiteralStringDoc */ .chroma .sd { color:var(--green) }
/* LiteralStringDouble */ .chroma .s2 { color:var(--green) }
/* LiteralStringEscape */ .chroma .se { color:var(--green) }
/* LiteralStringHeredoc */ .chroma .sh { color:var(--green) }
/* LiteralStringInterpol */ .chroma .si { color:var(--green) }
/* LiteralStringOther */ .chroma .sx { color:var(--green) }
/* LiteralStringRegex */ .chroma .sr { color:var(--green) }
/* LiteralStringSingle */ .chroma .s1 { color:var(--green) }
/* LiteralStringSymbol */ .chroma .ss { color:var(--green) }
/* LiteralNumber */ .chroma .m { color:var(--yellow) }
/* LiteralNumberBin */ .chroma .mb { color:var(--yellow) }
/* LiteralNumberFloat */ .chroma .mf { color:var(--yellow) }
/* LiteralNumberHex */ .chroma .mh { color:var(--yellow) }
/* LiteralNumberInteger */ .chroma .mi { color:var(--yellow) }
/* LiteralNumberIntegerLong */ .chroma .il { color:var(--yellow) }
/* LiteralNumberOct */ .chroma .mo { color:var(--yellow) }
/* Operator */ .chroma .o { color:var(--cyan) }
/* OperatorWord */ .chroma .ow { color:var(--cyan) }
/* Comment */ .chroma .c { color:#7f848e }
/* CommentHashbang */ .chroma .ch { color:#7f848e }
/* CommentMultiline */ .chroma .cm { color:#7f848e }
/* CommentSingle */ .chroma .c1 { color:#7f848e }
/* CommentSpecial */ .chroma .cs { color:#7f848e }
/* CommentPreproc */ .chroma .cp { color:var(--yellow) }
/* CommentPreprocFile */ .chroma .cpf { color:var(--green) }
/* GenericDeleted */ .chroma .gd { color:var(--red) }
/* GenericInserted */ .chroma .gi { color:var(--green);font-weight:bold }
