<!DOCTYPE html>
<html lang="{{- .Site.Language.LanguageCode }}">
    <head>
    {{ partial "head.html" . }}
    </head>
    <body>
        <div class="top-flex-div">
            <header>
                {{- partial "header.html" . }}
            </header>
            <main>
                {{- block "main" . }}
                {{ .Content }}
                {{- end }}
            </main>
            <footer>
                {{- partial "footer.html" . }}
            </footer>
        </div>
        {{- partial "svg.html" . }}
    </body>
</html>
